.game-field {
  margin-left: 30px;
  text-align: center;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
.new-game {     /* Button */
  width: 150px;
  height: 20px;
  margin-left: 30px;
  margin-bottom: 25px;
}
.title {
  margin-left: 30px;
}
.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}
.cell:focus{
  outline: none;
}

.winner {
  color: #ff0000;
}
.line {
  height: 2px;
  width: 140px;
  background: red;
  position: absolute;
  z-index: 9999;
}

.line_1,
.line_2,
.line_8 {
  left: 4px;
}

.line_1 {
  top: 20px;
}

.line_2 {
  bottom: 25px;
}

.line_3,
.line_4,
.line_7 {
  transform: rotate(90deg);
  top: 70px;
}

.line_3 {
  left: 53px;
}

.line_4 {
  right: 85px;
}

.line_5 {
  transform: rotate(47deg);
  top: 72px;
  left: 5px;
}

.line_6 {
  transform: rotate(313deg);
  top: 72px;
  left: 5px;
}

.line_7 {
  left: 5px;
}

.line_8 {
  top: 70px;
}
